@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Russo+One&display=swap");

* {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.group {
  position: relative;
  background: radial-gradient(
    circle at 50% 50%,
    rgb(51, 10, 10),
    rgb(5, 5, 21)
  );
  display: flex;
  flex-direction: column;
}

/* HEADER START */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #39053163;
  padding: 20px 50px;
  z-index: 5; /* DIYEREK USTE ALIRIZ */
  position: fixed;
}

header .logo a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
}
header .logo a b {
  color: #fd003b;
}
header .logo i {
  color: white;
  font-size: 25px;
}

header .menu {
  display: flex;
  align-items: center;
}
.menu .menu-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.menu .menu-content a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.menu .menu-content a:hover {
  /* :hover => fareyi üzerine getirdiğimiz zaman çalışan kodlar */
  color: #fd003b;
}
.menu i {
  display: none; /* GIZLEME İŞLEMi */
}
/* HEADER END*/

/* NAVBAR START */
nav {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
nav .left {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  padding: 0 50px;
  color: white;
}
.animation {
  color: #c0d666;
  font-weight: 600;
  width: 150px;
  font-size: 34px;
  /* animation: adi işlem_süresi zamanlama-ivme gecikterme tekrar_sayısı yönü fill-mode; */
  animation: anim1 4s ease-in-out 0s 1000;
}

@keyframes anim1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

nav .left h1 {
  font-family: "Russo One", sans-serif;
  font-size: 46px;
}
nav .left button {
  padding: 7px;
  color: white;
  background: transparent; /*saydam hale getirir  */
  font-size: 20px;
  border: 2px solid #cab2bb;
}
nav .left button:hover {
  border-radius: 10px;
  border: 2px solid rgb(94, 17, 94);
  transition: ease 0.2s;
}
/* NAVBAR END */

/* SOCIAL START */
.advert {
  background: #39053163;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  padding: 0 50px;
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  animation: reklam  3s ease-in ;
  animation-iteration-count: infinite;
  /* animation: adi işlem_süresi zamanlama-ivme gecikterme tekrar_sayısı yönü fill-mode; */
}


@keyframes reklam {
    0%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(10px);
    }
}
.advert img {
  width: 40px;
  cursor: pointer;
}
/* SOCIAL END */

.bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.18;
}


/* KARTLAR START */
aside {
    background-image: radial-gradient(rgba(0, 0, 0, 0.809) 40%, black),url('https://images.unsplash.com/photo-1622945931125-5b8ab394fa1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGxlZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
}
aside h1{
    font-size: 36px;
    color: white;
    padding-top: 30px;
    text-align: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
.cards .card{
    color: white;
    width: 45%;
    padding: 15px;
    border: 0.2px solid rgba(79,76,76, 0.5);
    border-radius: 10px;
}
.cards .card:hover{
    border: 0.2px solid rgba(207, 188, 188, 0.5);
    background: radial-gradient(rgba(13, 12, 15, 0.9),black);
}

.card .card-title{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}
.card .card-title img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.card p{
    font-weight: 200;
    margin-bottom: 20px;
}
.card button{
    padding: 7px 15px;
    font-size: 20px;
    color: white;
    background: transparent;
    border: 4px solid #500523;    
    border-radius: 20px;
}
/* KARTLAR END */

/* ABOUT START */

article{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
article h1{
    font-size: 36px;
}
article p{
    margin-bottom: 40px;
    color: #c13e73;
    text-align: center;
}

.about{
    display: flex;
    gap: 50px;
    align-items: center;
}

.about .about-left{
    width: 60%;

}
.about-left img{
    width: 450px;
    object-fit: cover;
    border-radius: 20px;
}
.about .about-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 7px;
}
.about-right h2{
    color: #c13e73;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.about-right button{
    padding: 7px;
    margin-top: 30px;color: white;
    background: linear-gradient(to left, #c13e73, #ee156c);
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

/* ABOUT END */


.contact {
    background-color: black;
    color: white;
    display: flex;
    padding: 50px;
    gap: 40px;
    align-items: center;
  }
  
  .contact-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    gap: 22px;
    justify-content: center;
  }
  .contact-left h2 {
    font-size: 36px;
  }
  .contact-left a {
    text-decoration: none;
    color: #5c5454;
  }
  .contact-left li {
    list-style-type: none;
  }
  .contact-left h2 span {
    color: #500523;
  }
  
  .contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
  }
  .contact-right input,
  .contact-right textarea {
    border-radius: 10px;
    padding: 10px;
    background-color: #2a2a2a;
    font-size: 17px;
    font-weight: 500;
    color: white;
    border: none;
  }
  .contact-right textarea {
    height: 130px;
  }
  .contact-right button {
    padding: 7px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    border: 4px solid #500523;
    background-color: transparent;
    margin: 0 70px;
    width: 200px;
    align-self: center;
  }
  
  footer {
    background-color: #2a2a2a;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    align-items: center;
  }
  .footer-left {
    flex: 1;
    display: flex;
    gap: 20px;
    color: white;
    flex-direction: column;
  }
  .footer-left-social i {
    color: white;
    margin-left: 5px;
  }
  .footer-left-social i:hover {
    color: #500523;
    transform: scale(1.4);
    transition: ease 0.7s;
  }
  
  footer .footer-left .logo a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 25px;
  }
  footer .footer-left .logo a span {
    color: #fd003b;
  }
  
  .footer-right {
    display: flex;
    flex: 1.2;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
  }
  .footer-right ul {
    width: 150px;
  }
  .footer-right ul li:first-child {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer-right li {
    color: white;
    list-style-type: none;
  }
  .footer-left-rights {
    margin-top: 35px;
  }



/* Tanımlanan class veya etiketlerin altında olduğu zaman çalışır */
/* RESPONSIVE AYARLAR */
/* TABLET ICIN GENiŞLİK min=768px , max=1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header .menu {
    position: relative; /* MERKEZE GÖRE KONUMUNU TANIMLARIZ */
  }
  header .menu:hover .menu-content {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 0px;
    padding: 10px;
    border-radius: 20px;
  }
  .menu-content a {
    color: black !important;
  }
  .menu-content a:hover {
    color: red !important;
  }

  header .menu i {
    display: flex;
    font-size: 25px;
    color: white;
  }

  header .menu .menu-content {
    display: none;
  }

  .about{
    flex-direction: column;
  }
  .about .about-left{
    width: 50%;
  }
  .about .about-left img{
    width: 100%;
    height: 300px;
  }
  .about .about-right{
    width: 80%;
  }
  .contact {
    flex-direction: column;
    gap: 0;
  }
  .contact-left {
    padding-bottom: 0;
    text-align: center;
  }
  .contact-right {
    width: 100%;
  }
  footer {
    flex-direction: column;
  }
  .footer-right {
    gap: 10px;
  }
  .footer-right ul {
    text-align: center;
  }
  .about{
    flex-direction: column;
    gap: 0;
  }
  .about .about-left{
    width: 80%;
  }
  .about-left img{
    width: 100%;
    height: 200px;
  }
  .about-right{
    align-items: center;
    padding-top: 25px;
  }
  .about-right span{
    text-align: center;
  }
}

/* MOBİL İÇİN GENİŞLİK min=0px , max = 767px*/
@media screen and (max-width: 767px) {
  header .menu {
    position: relative;
  }
  header .menu:hover .menu-content {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 0;
    padding: 10px;
    border-radius: 20px;
  }
  .menu-content a {
    color: black !important;
  }
  .menu-content a:hover {
    color: red !important;
  }

  header .menu i {
    display: flex;
    font-size: 25px;
    color: white;
  }

  header .menu .menu-content {
    display: none;
  }
  .cards .card{
    width: 86%;
  }

  .about{
    flex-direction: column;
  }
  .about .about-left{
    width: 100%;
  }
  .about .about-left img{
    width: 100%;
    height: 300px;
  }
  .about .about-right{
    width: 100%;
  }
  .contact {
    flex-direction: column;
    gap: 0;
  }
  .contact-left {
    padding-bottom: 0;
    text-align: center;
  }
  .contact-right {
    width: 100%;
  }
  footer {
    flex-direction: column;
  }
  .footer-right {
    gap: 10px;
  }
  .footer-right ul {
    text-align: center;
  }
  .about{
    flex-direction: column;
    gap: 0;
  }
  .about .about-left{
    width: 80%;
  }
  .about-left img{
    width: 100%;
    height: 200px;
  }
  .about-right{
    align-items: center;
    padding-top: 25px;
  }
  .about-right span{
    text-align: center;
  }
}
